/* -----------------------------------
エンターページ
----------------------------------- */

section#enter {
  border-top: none;
}

.container.enter {
  margin: 60px auto;

  section {
    margin: 0;
  }
}