/* -----------------------------------
区切り線
----------------------------------- */
hr {
  width: 100px;
  height: 1px;
  background: #b5b5b5;
}

img.line {
  display: block;
  width: 95%;
  max-width: 700px;
  height: auto;
  margin: 40px auto;
}