/* -----------------------------------
上に戻るボタン
----------------------------------- */
a#totop {
  $size: 50px;
  display: block;
  width: $size;
  height: $size;
  position: fixed;
  z-index: map-get($layer, header);
  background: $black;
  right: 0;
  bottom: 0;
  border-left: 1px solid #ffffff45;

  &.totop-hidden {
    opacity: 0;
    z-index: -1;
  }

  &:before {
    $arrowsize: 15px;
    content: '';
    display: block;
    position: absolute;
    width: $arrowsize;
    height: $arrowsize;
    border-top: 2px solid #{$white};
    border-left: 2px solid #{$white};
    transform: rotate(45deg);
    margin: auto;
    top: 24px;
    right: 0;
    left: 0;
    transition: 0.3s;
  }

  &:hover:before {
    top: 20px;
  }
}